.btn__ready {
    font-family: 'Press Start 2P', monospace;
    font-size: 0.8rem;
    text-transform: uppercase;
    padding: 20px 30px;
    cursor: pointer;
    border: none;
    
    border-radius: 8px; 
    
   /* box-shadow: 
        inset 0 -8px 0 rgba(0, 0, 0, 0.4), 
        0 5px 0 rgba(0, 0, 0, 0.6);     
    */

    transition: all 0.05s ease;
}