.card {
    margin-block-start: var(--space-6);
    background-color: var(--surface-card);
    padding: var(--space-4);
    border-radius: 8px;
}

.card button {
    padding-block: var(--space-2);
}

.category-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding: 1.5rem;
    justify-items: center;
}

.card__category {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15rem;
    width: 25rem;
    background-size: cover;
    background-position: center;
    border-radius: 0.5rem;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    font-weight: 700;
    cursor: pointer;
}

.card__category:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
.card__category:active {
    transform: scale(0.95);
    transition: transform 0.1s ease-in-out;
}

.card__category span {
    background-color: rgb(255, 255, 255);
    padding: 0.3rem 0.3rem;
    border-radius: 0.5rem;
}