.card {
    margin-block-start: var(--space-6);
    background-color: var(--surface-card);
    padding: var(--space-4);
    border-radius: 8px;
}

.card button {
    padding-block: var(--space-2);
}

.category-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-3);
}

.card__category {
    cursor: pointer;
    aspect-ratio: 3 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    border-radius: var(--radius-md);
    font-size: var(--step-3);
    color: var(--neutral-900);
    font-weight: 700;
}

