.fade-enter {
  opacity: 0;
  transition: opacity 0.3s ease transform 0.2s ease;
  transform: translateX(-50px);
}

.fade-enter--active {
  opacity: 1;
  transform: translateX(0);
}k

.fade-exit {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.fade-exit--active {
  opacity: 0;
}


.scale-enter {
  opacity: 0;
  transform: scale(10%);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.fade-enter--active {
  opacity: 1;
  transform: scale(0);
}
