.game {
    --primary-accent: #00FFFF;

    background-color: var(--neutral-700);
    background-color: #291c2d;
    opacity: .98;
    padding: var(--space-5);
    border-radius: 4px;
    /* border: 2px solid #ff6b6b; */
    border: 5px solid #2B2B2B;
    /* box-shadow:
        0 0 25px 5px var(--primary-accent),
        inset 0 0 20px rgba(0, 0, 0, 0.8),
        0 0 40px -20px var(--primary-accent); */
    /* Stronger distant glow */
    min-height: 50vh;
    font-family: 'Press Start 2P', monospace;
    color: var(--primary-accent); /* #00FFFF */
    /* text-shadow: 
        0 0 4px var(--primary-accent), 
        0 0 8px rgba(0, 255, 255, 0.5); */
}