/* Block: hero
   Purpose:
   - Top section of the page introducing the product or idea
*/

:where(.hero) {
  /* Block Tokens */
  --hero-title-size: 62px;
  --hero-font: 'Honk';

  /* Layout */
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* Styles */
}


:where(.hero img) {
  width: 24px;
  height: 24px;
}

:where(.hero a) {
  color: var(--accent);
}

:where(.hero__title) {
  font-size: var(--hero-title-size);
  font-family: var(--hero-font);
  text-align: center;
  line-height: 1.1;
  font-weight: 700;
  margin-block-end: var(--space-3);
}

@container (min-width: 600px) {

  .hero {
    --hero-title-size: 7rem;
  }

}