.input__highscore {
    font-family: var(--arcade-font);
    background-color: var(--accent);
    padding-block: var(--space-3);
    padding-inline-start: var(--space-2);
    border: none;
    border-radius: var(--radius-md);
    box-shadow: 0 0 8px 2px var(--accent); 
    text-transform: uppercase;
    max-width: 100%;
}

.input__highscore::placeholder {
    color: var(--neutral-600);
}