/* Block: layout-page
   Purpose:
   - Root structural layout of the page
   - Handles the main frame, gutters, and content width
*/

:where(.layout-page) {
    /* Tokens */
    --layout-gap: var(--space-5);
    --layout-max: var(--content-narrow);

    /* Layout */
    display: grid;
    gap: var(--layout-gap);
    max-inline-size: min(100vw, var(--layout-max));
    margin-inline: auto;
    padding-inline: var(--gutter);
    padding-block-start: var(--space-6);

    /* Enable Container Queries */
    container-type: inline-size;

}

:where(.layout-page__main) {
    display: grid;
    gap: var(--space-6);
}


:where(.layout-page__sidebar) {
    display: none;
}

/* Responsive layout adjustments */
@container (min-width: 960px) {
    :where(.layout-page) {
        grid-template-columns: 1fr;
        align-items: start;
    }
}