/* Block: layout-page
   Purpose:
   - Root structural layout of the page
   - Handles the main frame, gutters, and content width
*/

:where(.layout-page) {
    /* Tokens */
    --layout-gap: var(--space-5);
    --layout-max: var(--content);
    --layout-narrow: var(--content-narrow);

    /* Layout */
    display: grid;
    gap: var(--layout-gap);
    padding-block-start: var(--space-6);

    max-inline-size: min(100vw, var(--layout-narrow));
    margin-inline: auto;
    /* Enable Container Queries */
    container-type: inline-size;

}


.layout-page__container {
    max-inline-size: min(100vw, var(--layout-max));
    padding-inline: var(--gutter);
}
