.slot {
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 1;
}

.slot > * {
    margin-bottom: var(--space-4);
}

.slot-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.slot-controls {
    display: flex;
    justify-content: center;

}

.slot__item {
    padding: var(--space-3);
}