.slot {
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 1;
    display: block;
    padding-block: var(--space-2);
}

/* Hidden state */
.slot>*[data-hidden="true"] {
    display: none;
    opacity: 1;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.slot-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.slot-controls {
    display: flex;
    justify-content: center;

}

.slot-controls button {
    margin-inline: var(--space-2);
    padding-inline: var(--space-5);
    padding-block: var(--space-3);
}
