/* Blocks Index
   - Import all layout blocks (prefix: layout-)
   - Import all component blocks (semantic names)
*/

@import "../components/layout-page.css";
@import "../components/layout-section.css";

@import "../components/card.css";
@import "../components/view.css";

@import "../components/slot.css";