/* Blocks Index
   - Import all layout blocks (prefix: layout-)
   - Import all component blocks (semantic names)
*/

@import "../components/layout-page.css";
@import "../components/layout-section.css";

<<<<<<< HEAD
@import "../components/hero.css";

=======
@import "../components/card.css";
>>>>>>> c57d986a63a0b8de670e3bdd60aafed41994b74a
